.feedback__button,
.feedback__icon,
.feedback__input,
.feedback__message,
.modal-content__button,
.modal-content,
.backdrop.backdrop--is-hidden,
.backdrop,
.menu-button--off,
.menu-button--on,
.header-button,
.nav-list__link,
.header,
.hero__btn--arrow,
.hero__btn--white {
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__accord,
.menu-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

*,
:before,
:after {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
select {
  text-transform: none;
}

body {
  letter-spacing: 0.03em;
  color: #000;
  background-color: #fff;
  margin: 0;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li,
ol {
  list-style: none;
}

.container-center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container-center {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-center {
    width: 1200px;
  }
}

.link,
.link:hover,
.link:focus {
  text-decoration: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.hero {
  height: 500px;
  background-color: #ffb8ca;
  margin: 0 auto;
  padding-top: 194px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    padding-top: 102px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
    padding-top: 148px;
  }
}

.hero__space {
  height: 100%;
  padding: 0 0 0 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__space {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__space {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__caption {
  width: 219px;
  z-index: 3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Titan One", cursive;
  font-size: 26px;
  line-height: 1.15385;
}

.hero__caption--pink {
  color: #d41443;
  font-size: 48px;
  line-height: 0.958333;
}

@media screen and (min-width: 768px) {
  .hero__caption {
    width: 162px;
    font-size: 22px;
    line-height: 0.88;
  }

  .hero__caption--pink {
    color: #d41443;
    font-size: 34px;
    line-height: 0.911765;
  }
}

@media screen and (min-width: 1200px) {
  .hero__caption {
    width: 277px;
    margin-top: 24px;
    font-size: 38px;
    line-height: 1.15789;
  }

  .hero__caption--pink {
    color: #d41443;
    font-size: 58px;
    line-height: 0.896552;
  }
}

.hero-cafes {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .hero-cafes {
    display: none;
  }
}

.hero-cafes__item {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 18px;
  margin-right: 18px;
  display: flex;
  position: relative;
}

.hero-cafes__number {
  z-index: 5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  font-family: Titan One, cursive;
  font-size: 28px;
  line-height: 1.14286;
}

@media screen and (min-width: 1200px) {
  .hero-cafes__number {
    font-size: 46px;
    line-height: 1.15217;
  }
}

.hero-cafes__text {
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .hero-cafes__text {
    font-size: 14px;
    line-height: 1.28571;
  }
}

.hero__ellipse {
  z-index: 1;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero__ellipse {
    width: 16px;
    height: 16px;
    top: -3px;
    right: -5px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__ellipse {
    width: 30px;
    height: 30px;
    top: -5px;
    right: -12px;
  }
}

.hero__list {
  gap: 12px;
  margin-bottom: 40px;
  display: flex;
}

.hero__item {
  z-index: 3;
}

.hero__btn {
  height: 24px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: none;
  display: inline-flex;
}

.hero__btn--pink {
  width: 63px;
  color: #fff;
  background-color: #d41443;
}

@media screen and (min-width: 1200px) {
  .hero__btn--pink {
    width: 107px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28571;
  }
}

.hero__btn--white {
  width: 83px;
  color: #d41443;
  background-color: #fff;
  transition-property: background-color;
}

@media screen and (min-width: 1200px) {
  .hero__btn--white {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28571;
  }
}

.hero__btn--white:hover,
.hero__btn--white:focus {
  background-color: #ecebeb;
}

.hero__text {
  z-index: 3;
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.42857;
  }
}

.hero__flex {
  display: flex;
}

.hero__girl {
  width: 168px;
  height: 133px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 5%;
}

@media screen and (max-width: 767px) {
  .hero__girl {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero__girl {
    width: 293px;
    height: 232px;
    right: 3%;
  }
}

.hero__ice-cream {
  width: 175px;
  height: 410px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 32px;
}

@media screen and (min-width: 768px) {
  .hero__ice-cream {
    width: 143px;
    height: 336px;
    right: 32%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__ice-cream {
    width: 236px;
    height: 557px;
    right: 30%;
  }
}

.hero__milk {
  width: 152px;
  height: 154px;
  position: absolute;
  bottom: 16px;
}

@media screen and (max-width: 767px) {
  .hero__milk {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero__milk {
    width: 213px;
    height: 216px;
    bottom: 60px;
    left: 16px;
  }
}

.hero__note {
  max-width: 116px;
  z-index: 3;
  position: absolute;
  bottom: 56px;
  left: 25%;
}

@media screen and (max-width: 767px) {
  .hero__note {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero__note {
    max-width: 200px;
    bottom: 84px;
    left: 20%;
  }
}

.hero__btn--arrow {
  fill: #d41443;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  transition-property: background-color;
  display: flex;
}

.hero__btn--arrow:hover,
.hero__btn--arrow:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .hero__btn--arrow {
    width: 18px;
    height: 18px;
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn--arrow {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    font-size: 0.8rem;
  }
}

.hero__btn--arrow:before {
  content: "➜";
  color: #d41443;
}

.hero__arrow {
  fill: #d41443;
  stroke: #d41443;
}

.hero__round {
  width: 346px;
  height: 344px;
  z-index: 1;
  background-color: #ffa5ba;
  border-radius: 50%;
  position: absolute;
  bottom: 75px;
  right: -20%;
}

@media screen and (min-width: 768px) {
  .hero__round {
    width: 335px;
    height: 333px;
    bottom: 40px;
    left: 275px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__round {
    width: 534px;
    height: 534px;
    bottom: 77px;
    left: 480px;
  }
}

.header {
  width: 100%;
  z-index: 100;
  padding-top: 8px;
  position: absolute;
}

@media (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin-left: 0;
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header__container {
  align-items: center;
  display: flex;
}

@media (min-width: 1200px) {
  .header__container {
    justify-content: space-between;
  }
}

.header-button--main {
  display: none;
}

@media (min-width: 768px) {
  .header-button--main {
    min-width: 160px;
    justify-content: center;
    align-items: baseline;
    margin-left: 32px;
    display: flex;
  }
}

.nav-list {
  display: block;
}

@media (min-width: 1200px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .nav-list__item {
    border-top: 1px solid #e18298;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-list__item:last-child {
    border-bottom: 1px solid #e18298;
  }
}

@media (min-width: 1200px) {
  .nav-list__item:not(:last-child) {
    margin-right: 35px;
  }
}

.nav-list__link {
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  line-height: 1.28;
  transition-property: color;
  display: block;
}

@media (min-width: 1200px) {
  .nav-list__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: #d41443;
}

.header-button {
  cursor: pointer;
  color: #d41443;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  transition-property: color, background-color;
}

.header-button:hover,
.header-button:focus {
  color: #fff;
  background-color: #d41443;
}

.header-button__icon {
  fill: currentColor;
  stroke: currentColor;
  margin-left: 14px;
}

.menu-button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: auto;
  padding: 0;
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu-wrap {
    height: 100%;
    opacity: 0;
    background-color: #e17992;
    flex-direction: column-reverse;
    justify-content: start;
    padding-top: 60px;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1199px) and (max-width: 767px) {
  .menu-wrap {
    width: 100vw;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu-wrap {
    width: 294px;
  }
}

@media (min-width: 1200px) {
  .menu-wrap {
    display: flex;
  }
}

.menu-wrap.is-open {
  opacity: 1;
  transform: translateX(0);
}

.menu-button--on {
  color: #d41443;
  transition-property: color;
}

.menu-button--on:hover,
.menu-button--on:focus {
  color: #fff;
}

.menu-button--off {
  color: #fff;
  transition-property: color;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-button--off:hover,
.menu-button--off:focus {
  color: #d41443;
}

.menu-button__icon {
  stroke: currentColor;
  fill: currentColor;
}

.menu-wrap__button {
  min-width: 209px;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto 20px;
  display: flex;
}

@media (min-width: 768px) {
  .menu-wrap__button {
    min-width: 186px;
  }
}

@media (min-width: 1200px) {
  .menu-wrap__button {
    display: none;
  }
}

.backdrop {
  width: 100vw;
  height: 100%;
  z-index: 999;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 60px 10px;
  }
}

.backdrop.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, visibility;
}

@media (min-width: 768px) {
  .backdrop.backdrop--is-hidden .modal-content {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal-content {
  min-width: 300px;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  padding: 55px 10px;
  transition-property: transform;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 500px;
    padding: 55px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media screen and (min-width: 1200px) {
  .modal-content {
    max-width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-content__button {
  z-index: 2;
  width: 30px;
  height: 30px;
  color: #d41443;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d41443;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition-property: color, background-color;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-content__button:hover,
.modal-content__button:focus {
  cursor: pointer;
  color: #fff;
  background-color: #d41443;
}

.modal-content__icon {
  fill: currentColor;
}

.feedback {
  width: 100%;
  margin: 0 auto;
}

.feedback__text {
  text-align: center;
  color: #d41443;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
}

@media (min-width: 768px) {
  .feedback__text {
    font-size: 20px;
  }
}

.feedback__label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.feedback__input,
.feedback__message {
  width: 100%;
  border: 1px solid #ffb8ca;
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 25px;
  transition-property: border-color;
}

.feedback__input:focus-within {
  border-color: #d41443;
  outline: none;
}

.feedback__message:focus-within {
  border-color: #d41443;
  outline: none;
}

.feedback__message::-ms-input-placeholder {
  color: #ffb8ca;
}

.feedback__message::placeholder {
  color: #ffb8ca;
}

.feedback__icon {
  fill: #ffb8ca;
  transition-property: fill;
  position: absolute;
  top: 50%;
  left: 5px;
}

.feedback__input:focus-within + .feedback__icon {
  fill: #d41443;
}

.feedback__part {
  letter-spacing: 0.01em;
  color: #d41443;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  display: block;
}

.feedback__message {
  resize: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 5px;
}

.feedback__accord {
  margin-bottom: 30px;
}

.form__checkbox {
  margin: 0 auto;
  display: inline-block;
}

.feedback__field {
  max-width: 16px;
  width: 100%;
  height: 15px;
  border: 2px solid #ffa5ba;
  border-radius: 2px;
  display: inline-block;
}

.form__checkbox:checked + .feedback__field {
  background-color: #d41443;
  background-image: url("/src/images/check.svg");
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: #d41443;
}

.feedback__consent {
  color: #d41443;
  margin: 0;
  padding-left: 7px;
}

.feedback__link {
  color: #d41443;
  font-weight: 900;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

@media screen and (max-width: 1199px) {
  .feedback__consent,
  .feedback__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__consent,
  .feedback__link {
    line-height: 1.71;
  }
}

.feedback__button {
  width: 160px;
  cursor: pointer;
  color: #d41443;
  background-color: #fff;
  border: 1px solid #d41443;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  transition-property: color, background-color;
  display: flex;
}

.feedback__button:hover,
.feedback__button:focus {
  color: #fff;
  cursor: pointer;
  background-color: #d41443;
}
