<section class="gallery-section">
  <div class="container-images">
    <div class="container-images__first">
      <img
        class="container-images__image"
        srcset="
          ./images/gallery1-D-1x.jpg,
          ./images/gallery1-D-2x.jpg,
          ./images/gallery1-D-3x.jpg,
          ./images/gallery1-M-1x.jpg,
          ./images/gallery1-M-2x.jpg,
          ./images/gallery1-M-3x.jpg,
          ./images/gallery1-T-3x.jpg,
          ./images/gallery1-T-2x.jpg,
          ./images/gallery1-T-3x.jpg
        "
      />
    </div>
    <div class="container-images__second">
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery2-D-1x.jpg,
            ./images/gallery2-D-2x.jpg,
            ./images/gallery2-D-3x.jpg,
            ./images/gallery2-M-1x.jpg,
            ./images/gallery2-M-2x.jpg,
            ./images/gallery2-M-3x.jpg,
            ./images/gallery2-T-3x.jpg,
            ./images/gallery2-T-2x.jpg,
            ./images/gallery2-T-3x.jpg
          "
        />
      </div>
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery3-D-1x.jpg,
            ./images/gallery3-D-2x.jpg,
            ./images/gallery3-D-3x.jpg,
            ./images/gallery3-M-1x.jpg,
            ./images/gallery3-M-2x.jpg,
            ./images/gallery3-M-3x.jpg,
            ./images/gallery3-T-3x.jpg,
            ./images/gallery3-T-2x.jpg,
            ./images/gallery3-T-3x.jpg
          "
        />
      </div>
    </div>
    <div class="container-images__thirt">
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery4-D-1x.jpg,
            ./images/gallery4-D-2x.jpg,
            ./images/gallery4-D-3x.jpg,
            ./images/gallery4-M-1x.jpg,
            ./images/gallery4-M-2x.jpg,
            ./images/gallery4-M-3x.jpg,
            ./images/gallery4-T-1x.jpg,
            ./images/gallery4-T-2x.jpg,
            ./images/gallery4-T-3x.jpg
          "
        />
      </div>
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery5-D-1x.jpg,
            ./images/gallery5-D-2x.jpg,
            ./images/gallery5-D-3x.jpg,
            ./images/gallery5-M-1x.jpg,
            ./images/gallery5-M-2x.jpg,
            ./images/gallery5-M-3x.jpg,
            ./images/gallery5-T-1x.jpg,
            ./images/gallery5-T-2x.jpg,
            ./images/gallery5-T-3x.jpg
          "
        />
      </div>
    </div>
    <div class="container-images__fourth">
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery6-D-1x.jpg,
            ./images/gallery6-D-2x.jpg,
            ./images/gallery6-D-3x.jpg,
            ./images/gallery6-M-1x.jpg,
            ./images/gallery6-M-2x.jpg,
            ./images/gallery6-M-3x.jpg,
            ./images/gallery6-T-1x.jpg,
            ./images/gallery6-T-2x.jpg,
            ./images/gallery6-T-3x.jpg
          "
        />
      </div>
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery7-D-1x.jpg,
            ./images/gallery7-D-2x.jpg,
            ./images/gallery7-D-3x.jpg,
            ./images/gallery7-M-1x.jpg,
            ./images/gallery7-M-2x.jpg,
            ./images/gallery7-M-3x.jpg,
            ./images/gallery7-T-1x.jpg,
            ./images/gallery7-T-2x.jpg,
            ./images/gallery7-T-3x.jpg
          "
        />
      </div>
    </div>
    <div class="container-images__fifth">
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery8-D-1x.jpg,
            ./images/gallery8-D-2x.jpg,
            ./images/gallery8-D-3x.jpg,
            ./images/gallery8-M-1x.jpg,
            ./images/gallery8-M-2x.jpg,
            ./images/gallery8-M-3x.jpg,
            ./images/gallery8-T-1x.jpg,
            ./images/gallery8-T-2x.jpg,
            ./images/gallery8-T-3x.jpg
          "
        />
      </div>
      <div>
        <img
          class="container-images__image"
          srcset="
            ./images/gallery9-D-1x.jpg,
            ./images/gallery9-D-2x.jpg,
            ./images/gallery9-D-3x.jpg,
            ./images/gallery9-M-1x.jpg,
            ./images/gallery9-M-2x.jpg,
            ./images/gallery9-M-3x.jpg,
            ./images/gallery9-T-1x.jpg,
            ./images/gallery9-T-2x.jpg,
            ./images/gallery9-T-3x.jpg
          "
        />
      </div>
    </div>
    <div class="container-images__sixth">
      <img
        class="container-images__image"
        srcset="
          ./images/gallery10-D-1x.jpg,
          ./images/gallery10-D-2x.jpg,
          ./images/gallery10-D-3x.jpg,
          ./images/gallery10-M-1x.jpg,
          ./images/gallery10-M-2x.jpg,
          ./images/gallery10-M-3x.jpg,
          ./images/gallery10-T-1x.jpg,
          ./images/gallery10-T-2x.jpg,
          ./images/gallery10-T-3x.jpg
        "
      />
    </div>
  </div>
</section>
