
    <!-- Products -->
    <section class="products">
      <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="product__list">
          <li class="products__item">
            <h3 class="products__name">ice cream</h3>
            <div class="dots"></div>
            <p class="products__description">
              Indulge in our rich and creamy ice cream, handcrafted with
              all-natural ingredients and available in a variety of flavors.
            </p>
            <button class="products__btn" aria-label="details"></button>
          </li>
          <li class="products__item">
            <h3 class="products__name">ice coffe</h3>
            <div class="dots"></div>
            <p class="products__description">
              Refresh and energize with our perfectly brewed iced coffee, made
              with high-quality beans and served over ice.
            </p>
            <button class="products__btn" aria-label="details"></button>
          </li>
          <li class="products__item">
            <h3 class="products__name">milkshakes</h3>
            <div class="dots"></div>
            <p class="products__description">
              Satisfy your sweet tooth with our thick, made with premium ice
              cream, topped with whipped cream and your favorite toppings.
            </p>
            <button class="products__btn" aria-label="details"></button>
          </li>
        </ul>
      </div>
    </section>
